body {
  background-color: hsl(47, 88%, 63%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainBox {
  background-color: hsl(0, 0%, 100%);
  min-height: 520px;
  width: 380px;
  border: 1.6px solid;
  font-family: "Figtree", sans-serif;
  border-radius: 25px;
  box-shadow: 8px 8px 0px;
}
figure img {
  margin-top: 5px;
  transform: translateX(-19px);
  border-radius: 12px;
}
.tag,
.publicationDate,
.title,
.mainContent,
.footerAuthor {
  margin-left: 21px;
  margin-bottom: 15px;
}
.tag,
.publicationDate,
.title,
.footerAuthor {
  font-size: 16px;
}
.tag {
  display: inline-block;
  background-color: hsl(47, 88%, 63%);
  font-weight: 800;
  font-size: 15px;
  padding: 5px 13px;
  border-radius: 5px;
  margin-top: 5px;
}
.publicationDate {
  color: hsl(0, 0%, 7%);
  font-weight: 500;
}
.title {
  font-weight: 800;
  font-size: 25px;
}
.title a {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}
.title a:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
section {
  color: hsl(0, 0%, 50%);
  line-height: 1.5;
}
.footerAuthor img {
  max-height: 29px;
  transform: translateY(8px);
  padding-right: 10px;
}
.footerAuthor {
  font-weight: 800;
  font-size: 14px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 375px) {
  .mainBox {
    width: 70%;
    min-height: 65%;
  }
  .tag,
  .publicationDate,
  .title a,
  .mainContent,
  .footerAuthor {
    font-size: 90%;
  }
  figure img {
    width: 115%;
    object-fit: none;
  }
}
